/* set the background of the body to a light goldish */
body{
  background-color: grey;
}
/* give inputs a width of 143px */
input{
  width: 143px;
}
/* give selects a width of 145px */
select{
  width: 147px;
}
/* give tables and cells:
 * a collapsed 1px black border
 * 22px bottom margin
 * centered text
 * evenly spaced cells
 */
table{
  border-collapse: collapse;
  empty-cells: show;
  margin-bottom: 22px;
  text-align: center;
  table-layout: fixed;
}

td{
  border-collapse: collapse;
  
  margin-bottom: 22px;
  text-align: center;
  table-layout: fixed;

}
table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:15px
}

table tr:last-child td:last-child {
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:15px
}

/* make table headers goldish */
th{
  color: GoldenRod;
  background-color: black;
}
/* give the div element with the form:
 * goldish background
 * fixed position (doesn't scroll with page)
 * top border at the top of the page
 * bottom border at the bottom of the page
 * left border at the left of the page
 * 147px wide
 * 10px padding (prevents things from being right on the borders)
 */
.form{
 color: GoldenRod;
  background-color: black;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 147px;
  padding: 10px;
}
/* properly space the add and remove buttons and align them next to each other */
.AddButton{
  width: 49%;
  float: left;
}
.RemoveButton{
  width: 49%;
  float: right;
}
/* stretch the submit button to be 100% of the container's width */
.SubmitButton{
  width: 100%;
}
/* give the div element with the tables:
 * absolute position
 * top border at the top of the page
 * bottom border at the bottom of the page
 * right border at the right of the page
 * left border 167px right of the left of the page (prevents overlap with form)
 * 10px padding (keeps things away from the borders)
 * min width of 600px (prevents screen becoming too small and tables wrapping)
 */
.tables{
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 167px;
  padding: 10px;
  min-width: 600px;
}
/* table with width 500px aligned to center of container */
.KeyTable{
  width: 100%;
}
/* table with width 45% aligned to left side of container */
.Left45Table{
  float: left;
  width: 45%;
}
/* table with width 60% aligned to left side of container */
.Left60Table{
  float: left;
  width: 60%;
}
/* table with width 30% aligned to right side of container */
.Right30Table{
  float: right;
  width: 30%;
}
/* table with width 45% aligned to right side of container */
.Right45Table{
  float: right;
  width: 45%;
}
/* table with width 100% with no alignment */
.FullTable{
  width: 100%;
}