/* set the background of the body to a light goldish */
body{
  background-color: grey;
}
/* give inputs a width of 143px */
input{
  width: 25vw;
  max-width: 140px;
}
/* give selects a width of 145px */
select{
  width: 20vw;
  max-width: 140px;
}
/* table with width 500px aligned to center of container */
.KeyTable{
  position: relative;
  width: 100%;
}

/* give tables and cells:
 * a collapsed 1px black border
 * 22px bottom margin
 * centered text
 * evenly spaced cells
 */
table{
  empty-cells: show;
  left: 50%;
  margin-left: -100px;
}

.form{
 color: GoldenRod;
  background-color: black;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 25vw;
  max-width: 150px;
  padding: 10px;
}

/* table with width 45% aligned to left side of container */
.Left45Table{
  position: relative;
  left: 50%;
  margin-left: -100px;
}
/* table with width 60% aligned to left side of container */
.Left60Table{
  position: relative;
  left: 50%;
  margin-left: -100px;
}
/* table with width 30% aligned to right side of container */
.Right30Table{
  position: relative;
  left: 50%;
  margin-left: -100px;
}
/* table with width 45% aligned to right side of container */
.Right45Table{
  position: relative;
  left: 50%;
  margin-left: -100px;
}
/* table with width 100% with no alignment */
.FullTable{
  position: relative;
  left: 50%;
  margin-left: -100px;
}